* {
    margin: 0;
    padding: 0;
    bottom: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #180D62;
}

.container {
    position: absolute;
    left: 90px;
    top: 90px;
    bottom: 90px;
    right: 90px;
    height: 80%;
    width: 90%;
    border: 1px solid black;
    border-radius: 20px;
    background: whitesmoke;
    -webkit-box-shadow: 9px -3px 15px 5px rgba(0, 0, 0, 0.87);
    box-shadow: 9px -3px 15px 5px rgba(0, 0, 0, 0.87);
}

.titulo {
    display: inline-block;
    vertical-align: top;
    align-items: center;
    margin-top: 30px;
}

.img-profile {
    border: 1px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 30px 20px;
    box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.2);
}

.nome {
    margin: 20px 0 10px 20px;
    font-size: 20px;
    font-weight: bold;
}

.sub-titulo {
    margin: 20px 0 10px 20px;
    font-size: 20px;
}

.tecnologias {
    margin: 0 20px 10px 20px;
    height: 50px;
    width: 150px;
}

ul {
    display: inline;
    margin: 10px 20px;
}

.linkedin-icon {
    text-decoration: none;
    height: 40px;
    width: 40px;
    opacity: 0.5;
}

.linkedin-icon:hover {
    transform: scale(1.2);
    transition: 1s;
    opacity: 1;
}



.github-icon {
    text-decoration: none;
    height: 40px;
    width: 40px;
    opacity: 0.5;
}

.github-icon:hover {
    transform: scale(1.2);
    transition: 1s;
    opacity: 1;
}

main {
    margin-top: 20px;
}

.projetos {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}